# Python / Entornos
__pycache__/
*.py[cod]
.venv/
venv/

# Datos crudos y procesados
data/raw/*
!data/raw/.gitkeep
data/processed/train/*
data/processed/test/*
!data/processed/train/.gitkeep
!data/processed/test/.gitkeep
*.zip
# Python / Entornos
__pycache__/
*.py[cod]
.venv/
venv/

# Datos crudos y procesados
data/raw/*
!data/raw/.gitkeep
data/processed/train/*
data/processed/test/*
!data/processed/train/.gitkeep
!data/processed/test/.gitkeep
*.zip

# Binarios pesados
models/*.eim
*.mp4
!examples/videos/*.mp4

# Sistema operativo
.DS_Store
Thumbs.db

CARPETA_COFRE_MOVER_CARPETA_PRINCIPAL/